@import "tailwindcss";

#bg_city {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex; /* flex use kore center kora */
  justify-content: center; /* horizontal center */
  align-items: center; /* vertical center */
}

#bg_city svg {
  width: 100%;
  height: 100%;
  object-fit: cover; /* full screen fill with cropping */
  object-position: center center; /* always center */
}

#full_city,
#building_top,
#wall_side,
#wall_front,
#interior_wall_top,
#interior_wall_side,
#interior_wall_side_2,
#interior_wall_front {
  will-change: transform, opacity;
}

